.text-input-md {
	font-size: 12px;
}

.toolbar-background-ios, .toolbar-background-md
{
  background-color: #212121 !important ;
}

.content-md {
    color: #000;
    background-color: #f9cc0f;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff !important;
}

ion-app._gmaps_cdv_ .nav-decor {
	background-color: transparent !important;
}
#map_canvas {
	height: 100%;    
	position: relative;
	width: 100%;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #212121;
}
