ion-app._gmaps_cdv_ .nav-decor {
	background-color: transparent !important;
}
#map_canvas {
	height: 100%;    
	position: relative;
	width: 100%;
}
page-pikla {
	ion-app._gmaps_cdv_ .nav-decor {
		background-color: transparent !important;
	}
	#map_canvas {
		height: 100%;    
		position: relative;
		width: 100%;
	}
}
